<h1> Hello and welcome </h1>

<form action="/add_list" method="post"> 
  Name: <input style="width: 20%;" type="text" name="name"> <br><br>
  
  Description: <br>
  <textarea rows="4" cols="50" maxlength="50" name = "description">
  Enter text here...</textarea>
  <br><br>

  Price: £<input style="width: 20%;" type="integer" name="price"><br><br>

  Available from: <input style="width: 20%;" type="date" name="from_date"><br><br>

  Available to: <input style="width: 20%;" type="date" name="to_date"><br><br>

  <input style="width: 20%; " type="submit" name="Submit" value = "add_space">
</form>

