<style>
* {
  max-width:1400px;
  font-family: "Open Sans";
}

</style>

<h1> Booking Request Confirmation </h1>

<p>Please find details below of the space you have requested:</p>


<p><b>Requested date: </b><%= @booking %> </p>

<p>Your request has now been sent to the host to review and respond. 
Please note that your booking is not confirmed until you have received 
confirmation from the host.</p>

<p>Please contact our support team at <p><a href= "mailto:makersbnb@staycation.com">makersbnb@staycation.com</a></p> should you have any queries.</p>

<p>Thank you for using Makersbnb! </p>