<h1> Please sign_up login: </h1>

<form action="/user_account" method="post"> 
  Name: <input style="width: 20%;" type="text" name="name" > <br><br>

  E-mail: <input style="width: 20%;" type="email" name="login" placeholder="Email"><br><br>

  Password: <input style="width: 20%;" type="password" name="password" placeholder="Password"><br><br>
 
  <input style="width: 20%; " type="submit" value = "Sign up">

</form>

