<h1> Please login: </h1>

<form action="/login" method="post"> 
  Name: <input style="width: 20%;" type="text" name="name"> <br><br>

  E-mail: <input style="width: 20%;" type="text" name="login><br><br>

  Pasword: <input style="width: 20%;" type="text" name="password"><br><br>
 
  <input style="width: 20%; " type="submit" name="Submit" value = "Login">

</form>

